@import "tailwindcss";

@theme {
  --color-terra-escuro: #B89A86; /* Principal/Fundo */
  --color-argila-escuro: #D8C2B3; /* Detalhes/Bordas */
  --color-nude-luz: #F6F1EC; /* Seções claras */
  --color-acento-ouro: #c5a059; /* Botões/Destaques */
  --color-texto-suave: #3F2E28; /* Textos secundários */
}